/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {table.list {width: 40%;} form {display: none;}}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
display: inline;border-right: 1px solid #000;*/

ul.menu
{
	list-style-type:none;
	margin:0;
	padding:0 .8em;
	overflow:hidden;
	background: gainsboro;
}

ul.menu li
{
	margin: .5em .5em .5em -1px;
	padding-right: .9em;
	float: left;
}

ul.menu li a {
	text-decoration: none;
	font-weight: bold;
}

ul.menu li a:hover, ul.menu li.current a {
	text-decoration: underline;
}

table.list {
	border: 1px solid #ccc;
	border-radius: 10px;
	width: 80%;
	margin-top: 1em;
}

table.list th, table.list td {
	border: 1px solid #ccc;
	padding: .3em;
}

table.list tr {
	background: #cccccc
}

table.list th {
	color: wheat;
	font-weight: bold;
	background: gray;
}

#search-box label, #search-box input, #search-box select {
	display: inline;
	width: auto;
	padding: 0;
}

#search-box input[type='submit'] {
	padding: 3px 4px;
}

input.single-button {
	display: block;
	margin-top: 10px;
}

th[data-sort]{
	cursor:pointer;
}